h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
	background-image: linear-gradient(144deg,#219117, #304434 50%,#310c0f);
}
.tbl-header{
  background-color: rgba(255,255,255,0.9);
 }
.tbl-content{
  height:70vh;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
	padding: 20px 15px;
	text-align: center;
	font-weight: 500;
	font-size:clamp(0.3rem, 1.5vw, 3rem);
	color: #fff;
	text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 600;
	font-size:clamp(0.3rem, 1.2vw, 3rem);
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.9);
}

td.style0
{
	background:white;
	color:black;
	font-size:clamp(0.5rem, 4vw, 5rem);
}
td.style1
{
	background:#00B050;
}
td.style2
{
	background:red;
}
td.style3
{
	background:#4F81BD;
}
td.style4
{
	background:#F79646;
}
td.style5
{
	background:#E3DE00;
}
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
	margin-top: 40px;
	padding: 10px;
	clear: left;
	text-align: center;
	font-size: 10px;
	font-family: 'Sakkal Majalla', sans-serif;  color: #fff;
}
.made-with-love i {
  font-style: Bold;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}